*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0.00) 100%);


    
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-fonts {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    

}


.navbar-items{
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 59px;

}

.nav-fit{
    color: #E6533C;
    font-size: 45px;
    font-style: italic;
    font-weight: 805;
}


.nav-btn-items{
   
    border: none;
    display: flex;
    /* padding: 4px; */
    gap: 47px;
    margin-left: 47px;
    text-decoration: none;
    
}

.nav-btn-items a{
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 20px;
}




 .nav-home{
    padding: 8px 20px;
    border-radius: 46px;
    border: none;
    background: #E6533C;
    color: #FFFFFF;
}




 /* banner-section */

 .banner-section{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 20px;
 }

 .banner-container{
    /* position: ; */
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 




 .banner-head span{
    font-style: italic;
    /* font-size: 120px; */
 }

 .banner-head{
    margin-bottom: 28px;
    font-size: 78px;
    color: #FFFFFF;
 }
 .banner-head span{
    font-style: ;
    font-family: "Miama", sans-serif;
 }

 .banner-para{
    margin-bottom: 28px;
 }

  .banner-btn-items{
    margin-right: 256px;
    margin: 0 auto;
 }

 .join{
    padding: 21px 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 42px;
    background: #E6533C;
    border: 2px solid white;
    color: #FFFFFF;
    border: none;
    margin-right: 14px;
 }
 .download{
    padding: 16px 40px;
    border-radius: 42px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid white;
    color: #FFFFFF;
    background: black;
 }






.video-p{
    color: rgba(255, 255, 255, 0.50);
}

.video{
    padding: 21px 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 12px;
    background: #3030308A;
    border: 2px solid ;
    color: #FFFFFF;
    border: none;
    margin-left: 150px;
    border-radius: 12px;
}

.video-head{
    margin: 0 auto;
    margin-left: -45px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 900;
    color: var(--Text-1, #FAFAF9);
    background: none;
}

.ban-img{
  
    margin-right: -318px;
}

.banner-img2-btn{
    padding: 21px 40px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 12px;
    background: #3030308A;
    border: 2px solid ;
    color: #FFFFFF;
    border: none;
    margin-left: 150px;
    
}

.banner-img-head{
    margin: 0 auto;
    margin-left: -50px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 900;
    color: var(--Text-1, #FAFAF9);
    background: none;
}





  /* change-container-styles */

  .change-container{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;

  }

  .change-items{
    /* margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center; */
  }

  .change-head{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    margin-bottom: 14px;
    color: #FFF;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    /* background: black; */
    border: none;

  }

  .change-para{
    margin-bottom: 14px;
    color: rgba(255, 255, 255, 0.50);
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    /* background: black; */
  }
 
  .change-description{
    
    margin-bottom: 58px;
  }

  .change-img{
    display: flex;
    text-align: center;
  }

  .change-img img{
    border-radius: 100px;
    margin-bottom: 30px;
    margin-right: 10px;
  }

  .change-img-part{
        margin-right: 90px;
        margin: 0 auto;
  }
 
 /* .change-head-para{
    text-align: center;
 } */

 .head-items{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
    color: #FFFFFF;
 }

 .para-items{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.50);
 }


 

 /* Run-section */

 .run{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 30px 32px 29px 54px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    /* box-sizing: border-box;
    box-shadow: 1440px;
    border: 2 px solid red; */
 }

 .run-items{
    /* display: flex;
    justify-content: space-around; */
    /* box-sizing: border-box;
    box-shadow: 1440px;
    border: 2 px solid red; */
 }
 .run-img{
    width: 39%;
 }

 .run-img img{
    /* padding: 30px 32px 29px 662px; */
    width: 100%;
    border-radius: 18px;

    
 }

 .run-head{
    font-size: 48px;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 14px;
 }

 .run-p{
    margin-bottom: 34px;
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
 }

 .run-btn{
    padding: 16px 40px;
    border-radius: 42px;
    font-size: 18px;
    font-weight: 600;
    color: #FFF;
    background: #E6533C;
    border: none;
 }


 

/* Trainings styles */


.img-container{
    max-width: 1440px;
    /* width: 100%; */
    margin: 0 auto;
    background: linear-gradient(180deg, #111 0%, rgba(0, 0, 0, 0.888) 100%);
}

.img-description  {
    margin-top: 40px;
    margin-bottom: 20px;
}

.training-head{
    /* text-align: center; */
    font-size: 48px;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 10px;
    
    /* margin-top: 200px; */
}

.training-p{
    /* text-align: center; */
    color: rgba(255, 255, 255, 0.50);
    margin-bottom: 58px;
}

.item img{
    width: 100%;
    height: 100%;
}


.img-item1{
    display: grid;
    grid-template-columns: 400px 500px 400px;
    /* grid-template-columns: repeat(3, 1fr, 2fr, 1fr); */
}

.img-item2{
    display: grid;
    grid-template-columns: 500px 400px 400px;
}



.img-1 img{
    background-image: #06FFD280;
}



/* Calculator Styles */


.calculator-container{
    max-width: 1440px;
    padding: 0;
    margin: 0 auto;
    /* margin-left: -600px; */
    margin-top: 100px;
    margin-bottom: 88px;
    
    background: linear-gradient(180deg, #111 0%, rgba(0, 0, 0, 0.888) 100%);
}

.bmi-item{
    display: flex;
    justify-content: space-around;
}

.bmi-calculate{
    max-width: 1440px;
    /* margin-left: -600px; */

    margin: 0 auto; 
    margin-bottom: 88px;
    margin-top: 88px;
    background: rgb(34, 34, 34);

 
    /* text-align: center; */
    /* text-align: 20px; */
    
}

.bmi-head{
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 14px;
}

.bmi-p{
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
}

.bmi-cal1{
    margin: 0;
    color: #FFFFFF;
}

.bmi-cal2{
    margin: 0 auto;
    color: #FFFFFF;
    margin-bottom: 28px;
}

.cal-head{
    margin-bottom: 14px;
    font-size: 28px;
}

.cal-para{
    color: rgba(255, 255, 255, 0.50);
}

.bmi-chart{
    margin-bottom: 40px;
    margin: 0 auto;
}

form{
    margin-top: 20px;
    
}

.measure{
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.50);
    font-size: 16px;
    border: 2px solid rgba(255, 255, 255, 0.49);
    font-weight: 400;

}

.cal-btn{
    margin-top: 34px;
    padding: 16px 40px;
    background: #E6533C;
    border-radius: 42px;
    border: none;
    font-size: 18px;
    color: #FFF;

}

table{
    border: 2px solid rgba(255, 255, 255, 0.075);
    border-collapse: collapse;
    font-size: ;
    margin: 0;
    margin-top: 24px;
}

caption{
    border: 1px solid rgb(136, 23, 23);
    background-color: aqua;
}

.bmi td{
    font-size: 16px;
    font-weight: 500;
    color: #;
    
}

td{
    border: 2px solid rgba(255, 255, 255, 0.50);
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.50);
    /* margin-left: -20px;
    margin-right: 200px; */
}




.table-item td{
    border: 2px solid rgba(255, 255, 255, 0.50);
    margin-right: 200px;
}
